Repository w3bsuki/threadly: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply, biome format --write, prisma format

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "biome check --apply",
    "biome format --write"
  ],
  "*.{json,md,mdx,css,scss}": [
    "biome format --write"
  ],
  "packages/database/prisma/schema.prisma": [
    "prisma format"
  ]
}

Update pnpm lockfile after dependency cleanup
  pnpm-lock.yaml
Due: none

Fix TypeScript errors in cart package
  packages/cart/src/store.ts
  packages/cart/tsconfig.json
Due: biome check --apply, biome format --write

Fix TypeScript error in error-handling rate-limiter
  packages/error-handling/rate-limiter.ts
Due: biome check --apply, biome format --write

Fix TypeScript incremental build error in cache package
  packages/cache/tsconfig.json
Due: biome format --write

Fix TypeScript config errors in real-time package
  packages/real-time/tsconfig.json
Due: biome format --write

Fix Prisma relation field names in real-time package
  packages/real-time/src/server/pusher-server.ts
Due: biome check --apply, biome format --write

Fix Vercel build errors and TypeScript issues
  .claude/settings.local.json
  .env.vercel.example
  packages/auth/keys.ts
  packages/internationalization/regions.ts
  packages/security/csrf.ts
  packages/security/middleware.ts
  packages/security/package.json
  packages/seo/marketplace-seo.tsx
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.json
Due: biome check --apply, biome format --write

Add missing canvas-confetti dependency
  apps/web/package.json
Due: biome format --write

Update pnpm lockfile with canvas-confetti dependencies
  pnpm-lock.yaml
Due: none

Regenerate pnpm lockfile with correct canvas-confetti placement
  pnpm-lock.yaml
Due: none

Fix TypeScript errors in validation and design-system packages
  .claude/settings.local.json
  packages/design-system/hooks/use-pull-to-refresh.ts
  packages/validation/schemas/common.ts
  packages/validation/validators.ts
Due: biome check --apply, biome format --write

Fix Vercel build errors
  apps/web/app/[locale]/(home)/components/new-arrivals.tsx
  apps/web/app/api/clear-cache/route.ts
  apps/web/app/api/geo/route.ts
  apps/web/app/api/health/route.ts
  apps/web/app/api/notifications/route.ts
  apps/web/app/api/products/route.ts
  apps/web/app/api/search/route.ts
  apps/web/app/api/search/suggestions/route.ts
  package.json
  packages/api-utils/src/responses/api-response.ts
Due: biome check --apply, biome format --write

Update pnpm lockfile for @emotion/is-prop-valid dependency
  pnpm-lock.yaml
Due: none

Fix TypeScript error in trending-products.tsx - convert Decimal price to string
  apps/web/app/[locale]/(home)/components/trending-products.tsx
Due: biome check --apply, biome format --write

Add @radix-ui/react-icons dependency to web app
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

Fix TypeScript error in browse page - update review count field reference
  apps/web/app/[locale]/browse/page.tsx
Due: biome check --apply, biome format --write

Fix TypeScript error in checkout page - update Address relation reference
  apps/web/app/[locale]/checkout/[productId]/page.tsx
Due: biome check --apply, biome format --write

Fix TypeScript error in checkout success page - update User relation references
  apps/web/app/[locale]/checkout/success/page.tsx
Due: biome check --apply, biome format --write

Fix TypeScript error in checkout success page - convert Decimal to number
  apps/web/app/[locale]/checkout/success/page.tsx
Due: biome check --apply, biome format --write

Fix TypeScript build errors in search package
  packages/design-system/components/ui/button-modern-v4.tsx
  packages/design-system/components/ui/button-modern.tsx
  packages/design-system/components/ui/button.tsx.backup
  packages/design-system/components/ui/chart.tsx
  packages/design-system/components/ui/command.tsx
  packages/design-system/components/ui/context-menu.tsx
  packages/design-system/components/ui/dialog.tsx.backup2
  packages/design-system/components/ui/dialog_fix.txt
  packages/design-system/components/ui/dropdown-menu.tsx
  packages/design-system/components/ui/menubar.tsx
  packages/design-system/components/ui/navigation-menu.tsx
  packages/design-system/components/ui/select.tsx
  packages/design-system/components/ui/tabs.tsx
  packages/design-system/components/ui/toggle.tsx
Due: biome check --apply, biome format --write

Fix TypeScript error in web navigation - add missing dictionary properties
  packages/internationalization/dictionaries/bg.json
  packages/internationalization/dictionaries/en.json
  packages/internationalization/dictionaries/uk.json
Due: biome format --write

Fix TypeScript touch event errors and build issues
  apps/web/app/[locale]/components/header/mobile-menu.tsx
  apps/web/app/[locale]/components/header/mobile-search-bar.tsx
  apps/web/lib/offline-support.tsx
  apps/web/next.config.ts
Due: biome check --apply, biome format --write

Fix TypeScript dictionary errors in mobile-bottom-nav.tsx
  apps/web/app/[locale]/components/mobile-bottom-nav.tsx
Due: biome check --apply, biome format --write

Fix missing 'search' property in navigation dictionary
  packages/internationalization/dictionaries/bg.json
  packages/internationalization/dictionaries/en.json
  packages/internationalization/dictionaries/uk.json
  packages/internationalization/index.ts
Due: biome check --apply, biome format --write

Optimize build configuration for Vercel deployment
  apps/web/next.config.ts
  apps/web/vercel.json
Due: biome check --apply, biome format --write

Add tRPC packages for Next-Forge Phase 3 alignment
  package.json
  pnpm-lock.yaml
Due: biome format --write

chore: eliminate script duplicates and consolidate functionality
  AUDIT_REFACTOR_EXECUTION_PLAN.md
  packages/cache/package.json
  packages/cache/src/cache-middleware.ts
  packages/cache/src/cache-service.ts
  packages/cache/src/memory-cache.ts
  packages/cache/src/redis-cache.ts
  packages/cache/tsconfig.json
  packages/config/package.json
  packages/utils/package.json
  packages/utils/src/error-handling/circuit-breaker.ts
  packages/utils/src/error-handling/error-logger.ts
  packages/utils/src/error-handling/retry.ts
  pnpm-lock.yaml
  scripts/check-production-products.ts
  scripts/check-products.ts
  scripts/generate-favicons.js
  scripts/remove-env-filter-branch.sh
  scripts/seed-products-with-images.ts
  scripts/seed-products.ts
  scripts/seed-test-products.ts
  threadly-audit+refactor.md
Due: biome check --apply, biome format --write

chore: update pnpm-lock.yaml for next-config dependencies
  pnpm-lock.yaml
Due: none

fix: resolve TypeScript errors for Vercel deployment
  packages/database/src/lib/health-check.ts
  packages/database/src/lib/query-utils.ts
  packages/testing/src/helpers/api.ts
  packages/testing/src/helpers/auth.ts
  packages/testing/src/helpers/database.ts
  packages/testing/src/helpers/render.tsx
  packages/testing/src/helpers/utils.ts
  packages/testing/src/mocks/handlers.ts
  packages/utils/src/error-handling/error-logger.ts
Due: biome check --apply, biome format --write

fix: resolve render.tsx syntax error and unused variable
  packages/testing/src/helpers/render.tsx
  packages/testing/src/helpers/utils.ts
Due: biome check --apply, biome format --write

fix: remove testing package references for Vercel build
  packages/tooling/.ignored_testing/index.ts
  packages/tooling/.ignored_testing/package.json
  packages/tooling/.ignored_testing/tsconfig.json
Due: biome check --apply, biome format --write
