Repository w3bsuki/threadly: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply, biome format --write, prisma format

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "biome check --apply",
    "biome format --write"
  ],
  "*.{json,md,mdx,css,scss}": [
    "biome format --write"
  ],
  "packages/database/prisma/schema.prisma": [
    "prisma format"
  ]
}

fix: remove @repo/testing filters from all vercel.json files
  apps/api/vercel.json
  apps/app/vercel.json
  apps/web/vercel.json
Due: biome format --write

fix: add missing UI dependencies and fix package type warning
  packages/api/next-config/package.json
  packages/design-system/package.json
  pnpm-lock.yaml
Due: biome format --write

fix: correct import paths from @repo/tooling to @repo/api/utils in apps/app
  apps/app/app/[locale]/(authenticated)/admin/users/actions.ts
  apps/app/app/[locale]/(authenticated)/buying/orders/error.tsx
  apps/app/app/[locale]/(authenticated)/components/search.tsx
  apps/app/app/[locale]/(authenticated)/dashboard/error.tsx
  apps/app/app/[locale]/(authenticated)/error.tsx
  apps/app/app/[locale]/(authenticated)/messages/actions/message-actions.ts
  apps/app/app/[locale]/(authenticated)/profile/error.tsx
  apps/app/app/[locale]/(authenticated)/selling/dashboard/error.tsx
  apps/app/app/[locale]/(authenticated)/selling/listings/[id]/edit/actions/product-actions.ts
  apps/app/app/[locale]/(authenticated)/selling/listings/error.tsx
  apps/app/app/[locale]/(authenticated)/selling/new/actions/create-product.ts
  apps/app/app/api/search/autocomplete/route.ts
  apps/app/app/api/search/popular/route.ts
  apps/app/app/api/search/route.ts
  apps/app/app/api/search/suggestions/route.ts
  apps/app/app/api/stripe/create-checkout-session/route.ts
  apps/app/app/not-found.tsx
  apps/app/lib/trpc/hooks.ts
Due: biome check --apply, biome format --write

fix: add missing Radix UI dependencies to design-system
  packages/design-system/package.json
  pnpm-lock.yaml
Due: biome format --write

fix: add missing UI dependencies and fix import paths for Vercel build
  packages/auth/security/rate-limits.ts
  packages/design-system/package.json
  pnpm-lock.yaml
Due: biome check --apply, biome format --write

fix: add @repo/api/utils dependency and configure TypeScript paths for Vercel build
  apps/app/app/api/search/autocomplete/route.ts
  apps/app/app/api/search/popular/route.ts
  apps/app/package.json
  apps/app/tsconfig.json
  pnpm-lock.yaml
Due: biome check --apply, biome format --write

fix: add missing package exports for @repo/auth and @repo/ui for Vercel build
  packages/auth/package.json
  packages/design-system/package.json
Due: biome format --write

fix: add missing Radix UI deps and fix server-only imports for pages directory
  apps/web/app/[locale]/messages/components/messages-content.tsx
  packages/design-system/package.json
Due: biome check --apply, biome format --write

chore: update lockfile after adding Radix UI dependencies
  pnpm-lock.yaml
Due: none

fix: resolve build compilation errors and dependency issues
  apps/web/app/.well-known/vercel/flags/route.ts
  apps/web/app/[locale]/checkout/components/checkout-content.tsx
  apps/web/app/[locale]/search/components/search-results.tsx
  apps/web/app/[locale]/selling/new/actions/create-product.ts
  apps/web/app/[locale]/selling/new/components/multi-step-wizard.tsx
  apps/web/app/[locale]/selling/new/components/wizard-steps/step-description.tsx
  apps/web/app/[locale]/selling/new/components/wizard-steps/step-details.tsx
  apps/web/app/[locale]/selling/new/components/wizard-steps/step-photos-basic.tsx
  apps/web/app/[locale]/selling/new/components/wizard-steps/step-review.tsx
  apps/web/components/product-grid-client.tsx
  apps/web/lib/hooks/use-checkout.ts
  apps/web/lib/trpc/client.ts
  apps/web/lib/trpc/hooks.ts
  apps/web/package.json
  apps/web/postcss.config.mjs
  packages/api/utils/package.json
  packages/api/utils/src/api/actions/utils/create-action.ts
  packages/api/utils/src/api/trpc/client-exports.ts
  packages/api/utils/src/search/algolia-search.ts
  packages/api/utils/src/search/sync.ts
  packages/api/utils/src/validation/client.ts
  packages/design-system/commerce/components/products/product-detail-container.tsx
  packages/design-system/package.json
  packages/features/analytics/client.ts
  packages/features/feature-flags/lib/create-flag.ts
  packages/features/notifications/src/realtime/client/pusher-client.ts
  packages/features/package.json
  pnpm-lock.yaml
Due: biome check --apply, biome format --write

fix: update pnpm lockfile and fix flags package version
  packages/features/package.json
  pnpm-lock.yaml
Due: biome format --write

fix: resolve remaining build compilation errors
  apps/web/app/[locale]/(auth)/sign-in/[[...sign-in]]/sign-in-client.tsx
  packages/api/utils/src/error-handling/index.ts
  packages/api/utils/src/validation/client.ts
  packages/auth/security/index.ts
  packages/auth/security/rate-limits.ts
  packages/design-system/package.json
Due: biome check --apply, biome format --write

fix: resolve final build compilation errors
  apps/web/app/[locale]/(home)/components/cases.tsx
  apps/web/app/[locale]/styles.css
  packages/api/utils/src/validation/schemas/index.ts
Due: biome check --apply, biome format --write

fix: resolve final TypeScript error and CSS dependency issue
  apps/web/app/[locale]/(home)/components/cta.tsx
  packages/design-system/styles/globals.css
  packages/design-system/styles/modern-globals-v4.css
  packages/design-system/styles/modern-globals.css
Due: biome check --apply, biome format --write

fix: resolve main Vercel deployment issues
  apps/web/.eslintrc.json
  apps/web/app/[locale]/(home)/components/hero.tsx
  packages/api/utils/src/index.ts
  packages/design-system/package.json
  pnpm-lock.yaml
Due: biome check --apply, biome format --write

fix: resolve remaining TypeScript and export conflicts
  apps/web/app/[locale]/(home)/components/hero.tsx
  packages/api/utils/src/index.ts
Due: biome check --apply, biome format --write

fix: remove unused dictionary parameter from HowItWorks component
  apps/web/app/[locale]/(home)/components/how-it-works.tsx
Due: biome check --apply, biome format --write

fix: remove unused ProductWithRelations type from NewArrivals component
  apps/web/app/[locale]/(home)/components/new-arrivals.tsx
Due: biome check --apply, biome format --write

chore: update lockfile after adding @repo/api-next-config package
  pnpm-lock.yaml
Due: none

fix: remove duplicate api-next-config package
  packages/api-next-config/README.md
  packages/api-next-config/eslint/index.js
  packages/api-next-config/eslint/next.js
  packages/api-next-config/eslint/node.js
  packages/api-next-config/eslint/react.js
  packages/api-next-config/package.json
  packages/api-next-config/prettier/index.js
  packages/api-next-config/src/index.ts
  packages/api-next-config/src/keys.ts
  packages/api-next-config/src/next.ts
  packages/api-next-config/src/optimized.ts
  packages/api-next-config/tsconfig.json
  packages/api-next-config/typescript/base.json
  packages/api-next-config/typescript/library.json
  packages/api-next-config/typescript/nextjs.json
  packages/api-next-config/typescript/react-library.json
Due: biome check --apply, biome format --write

fix: add api-next-config at package root for Vercel build resolution
  packages/api-next-config/README.md
  packages/api-next-config/eslint/index.js
  packages/api-next-config/eslint/next.js
  packages/api-next-config/eslint/node.js
  packages/api-next-config/eslint/react.js
  packages/api-next-config/package.json
  packages/api-next-config/prettier/index.js
  packages/api-next-config/src/index.ts
  packages/api-next-config/src/keys.ts
  packages/api-next-config/src/next.ts
  packages/api-next-config/src/optimized.ts
  packages/api-next-config/tsconfig.json
  packages/api-next-config/typescript/base.json
  packages/api-next-config/typescript/library.json
  packages/api-next-config/typescript/nextjs.json
  packages/api-next-config/typescript/react-library.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --apply, biome format --write

fix: resolve module resolution issues for Vercel deployment
  apps/app/env.ts
  apps/app/next.config.ts
  apps/app/postcss.config.mjs
  apps/web/env.ts
Due: biome check --apply, biome format --write
